@font-face {
    font-style: normal;
    font-weight: 100;
    font-family: EstedadThin;
    src: url('../assets/fonts/Estedad-v7.3/webfonts/statics/Estedad-Thin.woff2') format('woff2');
   }
 @font-face {
    font-style: normal;
    font-weight: 200;
     font-family: EstedadThin;
     src: url('../assets/fonts/Estedad-v7.3/webfonts/statics/Estedad-ExtraLight.woff2') format('woff2');
   }
   @font-face {
    font-style: normal;
    font-weight: 300;
     font-family: EstedadThin;
     src: url('../assets/fonts/Estedad-v7.3/webfonts/statics/Estedad-Light.woff2') format('woff2');
   }
 @font-face {
    font-style: normal;
    font-weight: 400;
     font-family: EstedadThin;
     src: url('../assets/fonts/Estedad-v7.3/webfonts/statics/Estedad-Regular.woff2') format('woff2');
   }
   @font-face {
    font-style: normal;
    font-weight: 500;
     font-family: EstedadThin;
     src: url('../assets/fonts/Estedad-v7.3/webfonts/statics/Estedad-Medium.woff2') format('woff2');
   }
 @font-face {
    font-style: normal;
    font-weight: 600;
     font-family: EstedadThin;
     src: url('../assets/fonts/Estedad-v7.3/webfonts/statics/Estedad-SemiBold.woff2') format('woff2');
   }
   @font-face {
    font-style: normal;
    font-weight: 700;
     font-family: EstedadThin;
     src: url('../assets/fonts/Estedad-v7.3/webfonts/statics/Estedad-Bold.woff2') format('woff2');
   }
 @font-face {
    font-style: normal;
    font-weight: 800;
     font-family: EstedadThin;
     src: url('../assets/fonts/Estedad-v7.3/webfonts/statics/Estedad-ExtraBold.woff2') format('woff2');
   }
   @font-face {
    font-style: normal;
    font-weight: 900;
     font-family: EstedadThin;
     src: url('../assets/fonts/Estedad-v7.3/webfonts/statics/Estedad-Black.woff2') format('woff2');
   }
