@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-button-orange: #FF5C00;
  --bg-button-blue: #276EF6;
  --bg-button-blue-2: #ECF2FF;
  --bg-button-white: #FFFFFF;
  --bg-button-green: #D1FF6E;
  --bg-button-black: #000000;
  --text-button-black: #000000;
  --text-button-white: #FFFFFF;
  --text-button-blue: #276EF6;
  --title: #000000;
  --description: #7A8093;
  --border-grey: rgba(232, 233, 236, 0.1);
}
* {
  font-family: "EstedadThin";
}